XERO_CLIENT_ID=945622735E784B879D576FAC28FF5BA9
XERO_CLIENT_SECRET=66vzgPlSB6BqB4aWqj06NUnX4W3qBnQkTT-dpW34PflWUWzC
XERO_REDIRECT_URI=http://localhost:8000/xero/callback



# Database Settings
POSTGRES_DB=postgres
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pssword
DB_HOST=postgres_db
DB_PORT=5432
